<mat-card class="login-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{pageTitle}}</mat-card-title>
    <mat-card-subtitle>{{subTitle}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="loginForm">
      <div class="login-form">

        <mat-form-field appearance="outline">
          <mat-label>UserName</mat-label>
          <input matInput placeholder="Name" formControlName="UserName" required>
          <mat-icon matSuffix class="secondary-text">perm_identity</mat-icon>
          <mat-error>UserName is required!</mat-error>
        </mat-form-field>
<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Email Address</mat-label>-->
<!--          <input matInput placeholder="Email" formControlName="EmailAddress" required>-->
<!--          <mat-icon matSuffix class="secondary-text">mail</mat-icon>-->
<!--          <mat-error *ngIf="loginForm.get('EmailAddress').hasError('required')">-->
<!--            Email is required-->
<!--          </mat-error>-->
<!--          <mat-error-->
<!--            *ngIf="!loginForm.get('EmailAddress').hasError('required') &&-->
<!--                              loginForm.get('EmailAddress').hasError('email')">-->
<!--            Please enter a valid email address-->
<!--          </mat-error>-->
<!--        </mat-form-field>-->

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName="Password" required>
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>Password is required!</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button [color]="'save'" (click)="login()" [disabled]="loginForm.invalid">
      <mat-icon>send</mat-icon> Login
    </button>
    <button mat-button [color]="'close'" (click)="cancel()">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
  </mat-card-actions>
</mat-card>

