<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{pageTitle}}</mat-card-title>
    <mat-card-subtitle>{{complaint.CreatedDateTime | date: 'short'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="25px">
      <mat-grid-tile [colspan]="1" [rowspan]="1"><div class="detail">Customer Name: </div></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"><div class="detail">{{complaint.CustomerName}}</div></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"><div class="detail">Email Address: </div></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"><div class="detail">{{complaint.EmailAddress}}</div></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"><div class="detail">Complaint Status: </div></mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1"><div class="detail">{{complaint.Status}}</div></mat-grid-tile>
    </mat-grid-list>

    <h4>Complaint: </h4>
    <p>{{complaint.ComplaintContent}}</p>
  </mat-card-content>
  <mat-card-actions>
    <mat-toolbar class="actions" *ngIf="complaint.Status !== 'Confirmation'">
      <mat-toolbar-row>
        <button mat-raised-button (click)="onBack()"><mat-icon>arrow_back_ios</mat-icon>Back</button>
        <span class="example-spacer"></span>
        <button mat-raised-button *ngIf="(complaint.Status === 'Pending') || (complaint.Status === 'New')"
                (click)="onResolved()" [color]="'resolved'"><mat-icon>done</mat-icon>Resolved</button>
        <button mat-raised-button *ngIf="(complaint.Status === 'New')" (click)="onPending()"
                [color]="'pending'"><mat-icon>priority_high</mat-icon>Pending</button>
        <button mat-raised-button *ngIf="(complaint.Status === 'Pending') || (complaint.Status === 'New')"
                (click)="onMove()" [color]="'highLevel'"><mat-icon>send</mat-icon>Move to High level</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-actions>
</mat-card>
