.mat-toolbar.mat-primary {
  background: #00244a;
  color: #fff;
}

.mat-accent {
  color: white;
  border-bottom: 2px solid white;
}

.company-name {
  font-family: Helvetica;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 20px;
}
